* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: rgb(17, 17, 17);
}

/* UTILS */
.flex {
  display: flex;
}
/* HEADER */
.top-buttons {
  color: white;
  margin-top: 5px;
  text-align: right;
}
.header-button {
  padding: 3px;
  background-color: grey;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
}
/* MAIN */
main {
  justify-content: center;
  margin-top: 15px;
  width: 100vw;
}
.main-container {
  width: 80vw;
  height: calc(100vh - 120px);
  justify-content: center;
  flex-wrap: wrap;
  background-color: red;
  overflow: auto;
}
.user-img {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  margin: 5px;
  background-image: url(https://fastly.picsum.photos/id/813/200/200.jpg?hmac=KPqV3ldCcUrVRZi3-HZU491hRCs8AZAagGXxoAomcYU);
}
.name {
  color: white;
  background-color: rgba(102, 102, 104, 0.5);
  position: absolute;
  bottom: 10px;
  right: 0;
}
.user-img img {
  max-width: 170px;
}
.grey {
  width: 100vw;
  height: 75px;
  background-color: #222222;
}
